# ignorar:

# Ipython notebook checkpoints
.ipynb_checkpoints/*
notebooks/.ipynb_checkpoints/*

*.sav

# Byte-compiled / optimized / DLL files:
/__pycache__/*
*.py[cod]

data/models/*

# logs
logs/*
*.log

# Archivos html
*.html

# Archivos pesados
data/darksky_key.json

# Bases de datos sqlite
*.sqlite3


# Archivos irrelevantes
*.json
*.nc

# Archivos pesados csv
data/info_2019.csv
data/Accidentalidad_georreferenciada_*.csv
data/info_poblado2019.csv
data/info_poblado_all.csv
data/train.csv
data/validation.csv
data/test.csv
data/train_z.csv
data/validation_z.csv
data/test_z.csv

data/train_z.csv
data/validation_z.csv
data/test_z.csv

scripts/iRain/f1/*