# ignorar:

# Ipython notebook checkpoints
.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files:
/__pycache__/*
*.py[cod]

# logs
logs/*
*.log

# Archivos html
*.html

# Archivos pesados
data/darksky_key.json

# Bases de datos sqlite
*.sqlite3

# Modelos
*.sav

# Archivos irrelevantes
*.json
*.nc

# Archivos pesados csv
data/info_2019.csv
data/Accidentalidad_georreferenciada_*.csv
data/info_poblado2019.csv
data/info_poblado_all.csv

scripts/iRain/f1/*